.footer {
    border-top: 1px solid $color-foot;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copy__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  
  .footer__span {
    color: $color-pink;
  }
  
  .sub_form {
    display: flex;
    justify-content: flex-end;
  }
  
  .user_email {
    padding: 10px 0;
    padding-left: 10px;
    width: 230px;
    border: 1px solid $color-foot;
    border-right: none;
  }
  
  .user_email:focus {
    outline: 2px solid $color-foot;
  }
  
  .user_email::placeholder {
    color: $color-foot;
  }
  
  .submit_button {
    width: 150px;
    background-color: #95e1d3;
    color: $color-white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  
  .submit_button:hover {
    color: $color-pink;
  }
  