@media (max-width: 767px) {
    .container  {
        width: 320px;
    }

    .headline {
        padding-top: 33px;
        padding-bottom: 124px;
    }

    .menu {
        margin-bottom: 124px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .title {
        margin-bottom: 18px;
    }

    .subtitle {
        margin-bottom: 18px;
    }

    .partner_list {
        margin-bottom: 28px;
        margin: 0 auto;
    }  
}

@media (min-width: 768px) {
    .container {
        min-width: 660px;
    }

    .headline {
        padding-top: 48px;
        padding-bottom: 236px;
    }

    .navigation {
        width: 660px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 160px;
    }
    
    .title {
        margin-bottom: 40px;
    }

    .subtitle {
        margin-bottom: 33px;
    }

    .partner {
        margin: 0 auto;
        width: 492px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .partner_list {
        margin-bottom: 58px;
    }
    
    .partner_list:nth-child(odd) {
        margin-right: 20px;
    }

    .partner_list:nth-last-child(-n+2) {
        margin-bottom: 36px;
    }
}