* {
    /*outline: 1px solid red;*/
}

body {
    font-family: 'Open Sans', sans-serif; /*700 */
    font-family: 'Roboto', sans-serif; /*300 900 */
    font-family: 'Montserrat', sans-serif; /*400*/
    /*margin: 0;
    padding: 0;*/
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*header*/


.headline {
    padding-top: 24px;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    display: block;
    float: left;
    color: #5d5a5a;
}

.logo_m {
    font-weight: 900;
    color: #1abc9c;
}

.naviganion   {
    float: right;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu_item {
    float: left;
    list-style: none;
}

.menu_item:not(:last-child) {
    margin-right: 36px;
}

.menu_item a {
    font-size: 14px;
    font-weight: 900;
    color: #0f0101;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_item a:hover {
    color: #1abc9c;    
}

/*main*/



/*collection*/

.collection {
    padding-top: 100px;
    background-color: #e9f0fd;
    padding-bottom: 98px;

}

.collection h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 82px;
}

.collection h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 164px;
    background: #1abc9c;
    height: 7px;
    margin-top: 24px;
}

.card {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card_item {
    float: left;
}

.card_item:not(:last-child) {
    margin-right: 30px;
}

.name_box,
.price_box {
    padding-left: 8px;
    float: left;
}

.name_box {
    width: 80%;
    background: #323232;
}

.price_box {
    background: #8c8c8c;
    width: 20%;
}

.card_item p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 6px 0;
    text-transform: uppercase;
}

.card_item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);   
}

.card_item:hover .name_box {
    background: #1abc9c;
}

.card_item:hover .price_box {
    background: #7fd9c7;
}

