/**{
    border: 1px solid red;
}*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
}

div {
    box-sizing: border-box;
}
.container {
    width: 901px;
    margin: 0 auto;
}

.headline {
    margin-top: 75px;    
}

.menu {
    padding: 0 164px;
 }

.menu ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
}

.menu li {
    list-style: none; 
    float: right;
}

.menu a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}

.lifestyle {
    margin-top: 100px;
    display: flex;
}

.content {
    width: 421px;
}

