html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;  

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    /*font-family: 'Kaushan Script', cursive;*/ /*400*/
    /*font-family: 'Roboto', sans-serif;*/ /*400 300*/
    font-family: 'Montserrat', sans-serif; /*400 700 */
    margin: 0;
    font-size: 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*header*/

.headline {
    margin-bottom: 66px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 26px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu_item:not(:last-child) {
    margin-right: 60px;
}

.logo,
.menu_link {
    display: block;
    text-decoration: none;
    color: #95e1d3;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.menu_link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: color 0.2s linear;
}

.menu_link:hover {
    color: #f38181;
    padding-bottom: 6px;
    border-bottom: 3px solid #f38181;
}

/*main*/

h2,
h3,
h4,
p {
    margin: 0;
    color: #333333;
}

.section_subtitle {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.section_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.section_title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 0 auto;
    margin-top: 38px;
}

/*services*/

.services h2 {
    margin-bottom: 64px;
}

.service_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.service_item {
    position: relative;
    padding-left: 80px;
    width: 380px;
    margin-bottom: 100px;
}

.service_item::before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    right: 0;
    height: 32px;
    width: 32px;
}

.icon_alarm::before {
    background-image: url(../img/icon/alarm.png);
}

.icon_line_graph::before {
    background-image: url(../img/icon/line_graph.png);
}

.icon_computer::before {
    background-image: url(../img/icon/computer.png);
}

.icon_book::before {
    background-image: url(../img/icon/book.png);
}

.icon_home::before {
    background-image: url(../img/icon/home.png);
}

.icon_cube::before {
    background-image: url(../img/icon/cube.png);
}

.service_item h3 {
    margin-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.service_item p {
    font-family: 'Roboto', sans-serif;
}

/*team*/

.team {
    margin-bottom: 86px;
}

.team h2 {
    margin-bottom: 46px;
}

.desc {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    margin-bottom: 100px;
}

.team_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team_item {
    position: relative;
    text-align: center;
    width: 380px;
}

.team_item h4 {
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 22px;
}

.team_item p {
    line-height: 18px;
    font-style: italic;
}


.photo_wrap {
    position: relative;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    margin-bottom: 28px;
}

.team_item:hover .photo_item {
    position: absolute;
    left: -10px;
    top: -10px;
}

.soc_box {
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top right, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7));
    opacity: 0;
    z-index: 1;
    transition: all 200ms linear;
}

.team_item:hover .soc_box {
    opacity: 1;
    left: -10px;
    top: -10px;
}

.soc_icon {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    display: flex;
}

.soc_button {
    display: block;
    width: 54px;
    height: 54px;
    background-color: #fce38a;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s linear;
}

.soc_button:hover {
    background-color: #95e1d3;
}

.soc_facebook {
    background-image: url(../img/soc_icon/facebook.png);
}

.soc_twitter {
    background-image: url(../img/soc_icon/twitter.png);
}

.soc_painterest {
    background-image: url(../img/soc_icon/painterest.png);
}

.soc_instahram {
    background-image: url(../img/soc_icon/instagram.png);
}

/*footer*/

.foot_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #e5e5e5;
}

.copyright {
    font-size: 14px;
}

.laa {
    color: #f38181;
}

.subscribe_area {
    display: flex;
    padding: 12px 0;
}

.sub_in {
    font-family: roboto;
    font-style: italic;
    width: 230px;
    height: 40px;
    color: #333333;
    border: 1px solid #e5e5e5;
    border-right: none;
    padding-left: 10px;
}

.subsctibe_btn {
    border: none;
    width: 150px;
    height: 40px;
    color: #fff;
    background: #95e1d3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.subsctibe_btn:hover {
    color: #f38181;
    border-radius: 4px;
    box-shadow: 
}