.service {
  padding-top: 46px;

  &__subtitle {
    @extend %subtitle-text;
  }

  &__title {
    @extend %title-text;
  }

  &__title::after {
    @extend %title-after;
  }

  &__list {
    justify-content: space-between;
    flex-wrap: wrap;
    @extend %ul-reset;
  }

  &__item {
    flex: 0 0 380px;
    position: relative;
    padding-left: 80px;
  }

  &__item:not(:nth-last-child(-n +3)) {
    margin-bottom: 90px;
  }

  &__item::before {
    content: '';
    position: absolute;
    left: 20px;
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon_alarm::before {
  background-image: url(../images/alarm.png);
}

.icon_line_graph::before {
  background-image: url(../images/line_graph.png);
}

.icon_computer_ok::before {
  background-image: url(../images/computer.png);
}

.icon_book::before {
  background-image: url(../images/book.png);
}

.icon_home::before {
  background-image: url(../images/home.png);
}

.icon_digital::before {
  background-image: url(../images/cube.png);
}

.service__subject,
.service__desc {
  margin: 0;
  font-size: 15px;
}

.service__subject {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
  color: $color-black;
}

.service__desc {
  font-family: 'Roboto';
  color: $color-gray;
}
