.team {
  padding-top: 92px;
  padding-bottom: 80px;

  &__subtitle {
    @extend %subtitle-text;
  }

  &__title {
    @extend %title-text;
  }

  &__title::after {
    @extend %title-after;
  }

  &__desc {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    margin-bottom: 94px;
  }

  &__list {
    @extend %ul-reset;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    flex: 0 0 380px;
  }

  &__item:hover .photo_inner {
    transform: translate(-20px, -20px);
  }

  &__item:hover .social {
    opacity: 1;
    transform: translate(-20px, -20px);
  }
}

.photo_wrap {
  flex: 0 0 380px;
  height: 470px;
  display: block;
  background-color: $color-photo;
  margin-bottom: 28px;
}

.photo_inner {
  position: absolute;
  transition: all 0.2s ease;
}

.social {
  padding-top: 206px;
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(to top right, rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
  transition: all 0.2s ease;
  opacity: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    height: 56px;
    width: 56px;
    background-color: $color-gold;
    transition: all 0.2s ease-in-out;
  }

  &__item:not(:last-child) {
    margin-right: 1px;
  }

  &__item:hover {
    background-color: $color-pink;
  }

  &__item:hover .soc_icon {
    fill: $color-white;
  }
}

.social__link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}

.soc_icon {
  width: 32px;
  height: 32px;
  display: block;
  fill: $color-pink;
  transition: all 0.3s ease-in-out;

}

.team__text {
  text-align: center;
}

.team__name,
.team__post {
  margin: 0;
  text-transform: uppercase;
}

.team__name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 14px;
}

.team__post {
  font-size: 15px;
  font-family: 'Roboto';
  font-style: italic;
  color: $color-gray;
}
