* {
  /*outline: 1px solid red;*/
}

body {
  font-family: "Open Sans", sans-serif; /*300 700*/
  font-family: "Roboto", sans-serif; /*900*/
  font-family: "Montserrat", sans-serif; /*400*/
  box-sizing: border-box;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*headr*/

.headline {
}

.logo {
  font-size: 30px;
  font-weight: 400;
  color: #010101;
  text-transform: uppercase;
  text-decoration: none;
}

.logo_m {
  font-weight: 900;
  color: #1abc9c;
}

.site-menu {
  padding: 0;
  margin: 0;
  float: right;
}

.site-menu li {
  margin-right: 38px;
  font-size: 14px;
  float: left;
  list-style: none;
}

.site-menu li:nth-last-child(1) {
  margin-right: 0;
}

.site-menu a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-weight: 700;
  color: #010101;
}

.site-menu a:hover {
  color: #1abc9c;
}

nav {
  margin-top: 66px;
  margin-bottom: 100px;
}

/*main*/
/*product*/

h2  {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.products h2 {
  margin-bottom: 100px;
}

h2::after {
  content:'';
  display: block;
  width: 164px;
  height: 7px;
  background: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
}

p {
  margin: 0;
}

.accessory {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accessory_item {
  float: left;
}

.accessory_item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.accessory_item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.accessory_item:nth-last-child(4) {
  margin-bottom: 100px;
}

.name {
  /*width: 70%;*/
}

.price {
  /*width: 30%;*/
}

/*news*/

.latest_news h2 {
  margin-bottom: 94px;
}
.news {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news_item {
  width: 350px;
  float: left;
}

.news_item:not(:nth-last-child(1)) {
  margin-right: 30px;
}

.news_item img {
  margin-bottom: 8px;
}

h3 {
  margin: 0;
  margin-bottom: 26px;
}

h3::after {
  content:'';
  display: block;
  width: 136px;
  height: 4px;
  background: #1abc9c;
  margin-top: 14px;
}

.news_item p {
  margin-bottom: 16px;
}

.button {
  font-size: 16px;
  font-weight: 300;
  display: block;
  width: 160px;
  background: #4ec6ab;
  color: #fff;
  border-radius: 4px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
}