* {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif; /*300 700*/
  font-family: "Roboto", sans-serif; /*900*/
  font-family: "Montserrat", sans-serif; /*400*/
  box-sizing: border-box;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/*headr*/

.headline {
}

.logo {
  font-size: 30px;
  font-weight: 400;
  color: #010101;
  text-transform: uppercase;
  text-decoration: none;
}

.logo_m {
  font-weight: 900;
  color: #1abc9c;
}

.site-menu {
  padding: 0;
  margin: 0;
  float: right;
}

.site-menu li {
  margin-right: 38px;
  font-size: 14px;
  float: left;
  list-style: none;
}

.site-menu li:nth-last-child(1) {
  margin-right: 0;
}

.site-menu a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-weight: 700;
  color: #010101;
}

.site-menu a:hover {
  color: #1abc9c;
}

/*main*/
/*product*/

.accessory {
  list-style: none;
}

.accessory_item {
  float: left;
}

.accessory_item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.accessory_item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.name {
  /*width: 70%;*/
}

.price {
  /*width: 30%;*/
}

/*news*/

.news {
  width: 350px;
  list-style: none;
}

.news_item {
  float: left;
}
